* {
  
  color: #ffffff;
  padding: 0;
  margin: 0;
  /* font-family: arial; */
  text-align: center;
  
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body {
  display: grid;
  place-items: center;
  height: 100dvh;
  /* background-color: rgb(218, 216, 216) */
  background-color: FFF7F1
}
#panel {
  width: 75vw;
  /* aspect-ratio: 3/1.70; */
  aspect-ratio: 3.5/2;
  background: E6FFFD;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1.25fr .03fr 2fr;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: A7727D;
  border-radius: 1rem;
}

#right {
  /* background-color: E2F4C5; */
  /* border-radius: 0 1rem 1rem 0; */
  border-radius: 1rem;
  display: grid;
  place-items: center;
  background-color: 9AD0C2
}

.box {
  aspect-ratio: 3/2;
  height: 14vh;
  border-radius: 2vh;
  padding: 1rem;
  background-color: 344955
}

.search_bar {
  display: flex;
  padding-top: 4vh;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

input {
  color: black;
  outline: none;
  background-color: rgb(228, 226, 226);
  border-radius: 3vh;
  height: 3vh;
  width: 16vw;
  font-size: 2.5vh;
  text-align:left;
  padding: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  position: absolute;
  right: 1vh;
  font-size: 3.5vh;
  color: black;
}

button{
  background-color:transparent;
  border:none;
}

.image {
  border-radius: 2rem;
  width: 20vh;
}

.temp {
  font-size: 7vh;
}

.description {
  font-size: 3vh;
}

.line {
  background-color: black;
  height: 1px;
  width: 60%;
}

.date-time {
  font-size: 2.5vh;
}

.city {
  padding-bottom: 1.75rem;
  font-size: 5vh;
}


.extra {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  gap: 2rem
}

.title {
  font-size: 3vh;
  text-align: left;
  padding-bottom: .65rem;
}

.data {
  font-size: 4.25vh;
  text-align: left;
}

.data_2 {
  font-size: 3.75vh;
  text-align: left;
}
